h1 {
  color:red;
  text-align: center;
  text-decoration: underline;
  font-size: 36px;
}
h2 {text-align: center;
  font-size: 30px
}
p {text-align: center;
  font-size: 30px
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
